<section class="about" id="about">
  <div class="about-main-container">
    <div class="about-text-container">
      <div class="about-accent-text-container">
        <p class="accent-text">
          <span class="gradient-text">Yacht Adventures</span> fleet is here to
          take you on the ultimate adventure. Each yacht is hand-picked for its
          comfort, style, and performance.
        </p>
      </div>


      <ul class="about-text-list">
        <li class="about-text-item">
          <p class="subaccent-text">
            From spacious decks to state-of-the-art technology, our yachts are
            designed to provide the perfect blend of luxury and functionality.
            Take a look at our selection below and choose the yacht that
            matches your needs and preferences.
          </p>
        </li>

        <li class="about-text-item">
          <p class="subaccent-text">
            No matter which yacht you choose, our experienced crew will ensure
            that your journey is smooth and enjoyable. Book now and get ready
            for an unforgettable adventure on the high seas.
          </p>
        </li>
      </ul>
    </div>

    <div class="about-img-container">

      <ul class="about-img-list">
        <li class="about-img-item-1">
          <picture>
            <source srcset="/img/about/yacht-1-1x-mob.png 1x, /img/about/yacht-1-2x-mob.png 2x"
              media="(max-width:767px)" type="image/png" />
            <source srcset="/img/about/yacht-1-1x-mob.webp 1x, /img/about/yacht-1-2x-mob.webp 2x"
              media="(max-width:767px)" type="image/webp" />

            <source srcset="/img/about/yacht-1-1x-tab.png 1x, /img/about/yacht-1-2x-tab.png 2x"
              media="(min-width: 768px)" type="image/png" />
            <source srcset="/img/about/yacht-1-1x-tab.webp 1x, /img/about/yacht-1-2x-tab.webp 2x"
              media="(min-width: 768px)" type="image/webp" />

            <source srcset="/img/about/yacht-1-1x-pc.png 1x, /img/about/yacht-1-2x-pc.png 2x"
              media="(min-width:1280px)" type="image/png" />
            <source srcset="/img/about/yacht-1-1x-pc.webp 1x, /img/about/yacht-1-2x-pc.webp 2x"
              media="(min-width:1280px)" type="image/webp" />
            <img src="/img/about/yacht-1-1x-mob.png" alt="">
          </picture>
        </li>
        <li class="about-img-item-2">
          <picture>
            <source srcset="/img/about/yacht-2-1x-mob.png 1x, /img/about/yacht-2-2x-mob.png 2x"
              media="(max-width:767px)" type="image/png" />
            <source srcset="/img/about/yacht-2-1x-mob.webp 1x, /img/about/yacht-2-2x-mob.webp 2x"
              media="(max-width:767px)" type="image/webp" />

            <source srcset="/img/about/yacht-2-1x-tab.png 1x, /img/about/yacht-2-2x-tab.png 2x"
              media="(min-width: 768px)" type="image/png" />
            <source srcset="/img/about/yacht-2-1x-tab.webp 1x, /img/about/yacht-2-2x-tab.webp 2x"
              media="(min-width: 768px)" type="image/webp" />

            <source srcset="/img/about/yacht-2-1x-pc.png 1x, /img/about/yacht-2-2x-pc.png 2x"
              media="(min-width:1280px)" type="image/png" />
            <source srcset="/img/about/yacht-2-1x-pc.webp 1x, /img/about/yacht-2-2x-pc.webp 2x"
              media="(min-width:1280px)" type="image/webp" />
            <img src="/img/about/yacht-2-1x-mob.png" alt="">
          </picture>
        </li>
        <li class="about-img-gradient">
          <picture>
            <source srcset="/img/about/yacht-3-1x-common.png 1x, /img/about/yacht-3-2x-common.png 2x"
              media="(max-width:767px)" type="image/png" />
            <source srcset="/img/about/yacht-3-1x-common.webp 1x, /img/about/yacht-3-2x-common.webp 2x"
              media="(max-width:767px)" type="image/webp" />

            <source srcset="/img/about/yacht-3-1x-common.png 1x, /img/about/yacht-3-2x-common.png 2x"
              media="(min-width: 768px)" type="image/png" />
            <source srcset="/img/about/yacht-3-1x-common.webp 1x, /img/about/yacht-3-2x-common.webp 2x"
              media="(min-width: 768px)" type="image/webp" />

            <source srcset="/img/about/yacht-3-1x-common.png 1x, /img/about/yacht-3-2x-common.png 2x"
              media="(min-width:1280px)" type="image/png" />
            <source srcset="/img/about/yacht-3-1x-common.webp 1x, /img/about/yacht-3-2x-common.webp 2x"
              media="(min-width:1280px)" type="image/webp" />
            <img src="/img/about/yacht-3-1x-common.jpg" alt="">
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>