<section class="about" id="about">
  <div class="about-main-container">
    <div class="about-text-container">
      <div class="about-accent-text-container">
        <p class="accent-text">
          <span class="gradient-text">Yacht Adventures</span> fleet is here to
          take you on the ultimate adventure. Each yacht is hand-picked for its
          comfort, style, and performance.
        </p>
      </div>
      <div class="about-subaccent-text-container">
        <ul class="about-text-list">
          <li class="about-text-item">
            <p class="subaccent-text">
              From spacious decks to state-of-the-art technology, our yachts are
              designed to provide the perfect blend of luxury and functionality.
              Take a look at our selection below and choose the yacht that
              matches your needs and preferences.
            </p>
          </li>
          <li class="about-text-item">
            <p class="subaccent-text">
              No matter which yacht you choose, our experienced crew will ensure
              that your journey is smooth and enjoyable. Book now and get ready
              for an unforgettable adventure on the high seas.
            </p>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-img-container">
      <div class="about-img-item-1">
        <img src="../img/about/yaht-1-1x-pc.png" alt="" />
      </div>

      <div class="about-img-block-wrapper">
        <div class="about-img-item-2">
          <img src="../img/about/yaht-2-1x-pc.png" alt="" />
        </div>

        <div class="about-img-gradient">
          <img src="../img/about/yaht-3-1x-pc.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="yacht-block-container">
    <h2 class="yacht-block-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
  </div>
</section>
