<!--Footer section-->
<footer class="footer-section">
  <div class="footer-container">
       <div class="footer-content">
      <a href="" class="footer-icon-link">
        <svg class="footer-icon" width="23" height="23">
          <use href="../img/footer/symbol-defs.svg#boatlogo_footer"></use></svg>
      <a class="footer-logo" href="../index.html">Yacht Adventures</a>
    </div>
    <div class="nav-footer">
    <nav class="nav-menu-footer">
      <ul class="nav-list-footer">
        <li>
          <a class="nav-group-footer link" href="../index.html">About</a>
        </li>
        <li>
          <a class="nav-group-footer link" href="./rent.html">Yachts</a>
        </li>
        <li>
          <a class="nav-group-footer link" href="./reviews.html">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
    <div class="footer-tab-social">
      <p class="social-footer-text">We in social</p>
      <ul class="footer-icons-list">
        <li class="social-icons-group">
          <a href="" class="social-footer-link">
            <svg class="social-footericon" width="40" height="40">
              <use href="../img/footer/symbol-defs.svg#u_facebook-f"></use>
            </svg>
          </a>
        </li>
        <li class="social-icons-group">
          <a href="" class="social-footer-link">
            <svg class="social-footericon" width="40" height="40">
              <use href="../img/footer/symbol-defs.svg#u_instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-icons-group">
          <a href="" class="social-footer-link">
            <svg class="social-footericon" width="40" height="40">
              <use href="../img/footer/symbol-defs.svg#u_instagram-1"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    
  </div> 
 
  <div class="footer-bottom">
      <p class="footer-bottom-text">2023. Yacht Adventures</p>
      <p class="footer-bottom-text">Privacy Police</p>
    </div>
    <ul class="footer-background">
      <li class="footer-ellipse1">
        <img src="../img/footer/Ellipse7268.png" alt="ellipse" width="415" height="415">
      </li>
      <li class="footer-ellipse2"> <img src="../img/footer/Ellipse7270.png" alt="ellipse" width="317" height="317">
      </li>
      </ul>
</footer>
