<section class="hero section">
    <div class="hero-container container">
      <div class="hero-box-text-content">
        <h1 class="hero-title">
          Explore the High Seas with <span class="hero-title-span">Our Luxury Yacht</span> Rentals
        </h1>
        <p class="hero-text">
          Experience the freedom and luxury of yachting on the open seas. Choose from our
          top-of-the-line yachts and embark on an unforgettable journey surrounded by breathtaking
          views and state-of-the-art amenities.
        </p>
        <div class="hero-btn-box">
          <ul class="hero-btn-link-list list">
            <li class="hero-btn-link-item">
              <button class="hero-btn" type="button">Get Started</button>
            </li>
            <li class="hero-btn-item">
              <a class="hero-link link" href="#services_block">Explore</a>
            </li>
          </ul>
      </div>
      </div>
      <div class="hero-box-picture-content">
        <div class="hero-img-box">
          <ul class="hero-img-list list">
            <li class="hero-img-item">
              <picture>
                <source srcset="/img/hero/hero_img_clients1_mob@1x.jpg 1x, /img/hero/hero_img_clients1_mob@2x.jpg 2x" media="(max-width:767px)" type="image/jpg"/>
                <source srcset="/img/hero/hero_img_clients1_mob@1x.webp 1x, /img/hero/hero_img_clients1_mob@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>

                <source srcset="/img/hero/hero_img_clients1_tablet_desktop@1x.jpg 1x, /img/hero/hero_img_clients1_tablet_desktop@2x.jpg 2x" media="(max-width:1279px)" type="image/jpg"/>
                <source srcset="/img/hero/hero_img_clients1_tablet_desktop@1x.webp 1x, /img/hero/hero_img_clients1_tablet_desktop@2x.webp 2x" media="(max-width:1279px)" type="image/webp"/>
              
                <source srcset="/img/hero/hero_img_clients1_tablet_desktop@1x.jpg 1x, /img/hero/hero_img_clients1_tablet_desktop@2x.jpg 2x" media="(min-width:1280px)" type="image/jpg"/>
                <source srcset="/img/hero/hero_img_clients1_tablet_desktop@1x.webp 1x, /img/hero/hero_img_clients1_tablet_desktop@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>

                <img src="/img/hero/hero_img_clients1_mob@1x.jpg" alt="client" class="hero-img-client">
              </picture>
          </li>
          <li class="hero-img-item">
            <picture>
              <source srcset="/img/hero/hero_img_clients2_mob@1x.jpg 1x, /img/hero/hero_img_clients2_mob@2x.jpg 2x" media="(max-width:767px)" type="image/jpg"/>
              <source srcset="/img/hero/hero_img_clients2_mob@1x.webp 1x, /img/hero/hero_img_clients2_mob@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>

              <source srcset="/img/hero/hero_img_clients2_tablet_desktop@1x.jpg 1x, /img/hero/hero_img_clients2_tablet_desktop@2x.jpg 2x" media="(max-width:1279px)" type="image/jpg"/>
              <source srcset="/img/hero/hero_img_clients2_tablet_desktop@1x.webp 1x, /img/hero/hero_img_clients2_tablet_desktop@2x.webp 2x" media="(max-width:1279px)" type="image/webp"/>
            
              <source srcset="/img/hero/hero_img_clients2_tablet_desktop@1x.jpg 1x, /img/hero/hero_img_clients2_tablet_desktop@2x.jpg 2x" media="(min-width:1280px)" type="image/jpg"/>
              <source srcset="/img/hero/hero_img_clients2_tablet_desktop@1x.webp 1x, /img/hero/hero_img_clients2_tablet_desktop@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>

              <img src="/img/hero/hero_img_clients2_mob@1x.jpg" alt="client" class="hero-img-client">
            </picture>
          </li>
          <li class="hero-img-item">
            <picture>
              <source srcset="/img/hero/hero_img_clients3_mob@1x.jpg 1x, /img/hero/hero_img_clients3_mob@2x.jpg 2x" media="(max-width:767px)" type="image/jpg"/>
              <source srcset="/img/hero/hero_img_clients3_mob@1x.webp 1x, /img/hero/hero_img_clients3_mob@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>

              <source srcset="/img/hero/hero_img_clients3_tablet_desktop@1x.jpg 1x, /img/hero/hero_img_clients3_tablet_desktop@2x.jpg 2x" media="(max-width:1279px)" type="image/jpg"/>
              <source srcset="/img/hero/hero_img_clients3_tablet_desktop@1x.webp 1x, /img/hero/hero_img_clients3_tablet_desktop@2x.webp 2x" media="(max-width:1279px)" type="image/webp"/>
            
              <source srcset="/img/hero/hero_img_clients3_tablet_desktop@1x.jpg 1x, /img/hero/hero_img_clients3_tablet_desktop@2x.jpg 2x" media="(min-width:1280px)" type="image/jpg"/>
              <source srcset="/img/hero/hero_img_clients3_tablet_desktop@1x.webp 1x, /img/hero/hero_img_clients3_tablet_desktop@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>

              <img src="/img/hero/hero_img_clients3_mob@1x.jpg" alt="client" class="hero-img-client">
            </picture>
          </li>
          </ul>
          <p class="hero-img-box-text">Our Clients</p>
        </div>
            <picture>
              <source srcset="/img/hero/img_man_mob@1x.jpg 1x, /img/hero/img_man_mob@2x.jpg 2x" media="(max-width:767px)" type="image/jpg"/>
              <source srcset="/img/hero/img_man_mob@1x.webp 1x, /img/hero/img_man_mob@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>

              <source srcset="/img/hero/img_man_tablet_desktop@1x.jpg 1x, /img/hero/img_man_tablet_desktop@2x.jpg 2x" media="(max-width:1279px)" type="image/jpg"/>
              <source srcset="/img/hero/img_man_tablet_desktop@1x.webp 1x, /img/hero/img_man_tablet_desktop@2x.webp 2x" media="(max-width:1279px)" type="image/webp"/>
            
              <source srcset="/img/hero/img_man_tablet_desktop@1x.jpg 1x, /img/hero/img_man_tablet_desktop@2x.jpg 2x" media="(min-width:1280px)" type="image/jpg"/>
              <source srcset="/img/hero/img_man_tablet_desktop@1x.webp 1x, /img/hero/img_man_tablet_desktop@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>

              <img src="/img/hero/img_man_mob@1x.jpg" alt="man" class="hero-img-man">
            </picture>
            <picture>
              <source srcset="/img/hero/img_yaht_mob@1x.png 1x, /img/hero/img_yaht_mob@2x.png 2x" media="(max-width:767px)" type="image/png"/>
              <source srcset="/img/hero/img_yaht_mob@1x.webp 1x, /img/hero/img_yaht_mob@2x.webp 2x" media="(max-width:767px)" type="image/webp"/>

              <source srcset="/img/hero/img_yaht_tablet_desktop@1x.png 1x, /img/hero/img_yaht_tablet_desktop@2x.png 2x" media="(max-width:1279px)" type="image/png"/>
              <source srcset="/img/hero/img_yaht_tablet_desktop@1x.webp 1x, /img/hero/img_yaht_tablet_desktop@2x.webp 2x" media="(max-width:1279px)" type="image/webp"/>
            
              <source srcset="/img/hero/img_yaht_tablet_desktop@1x.png 1x, /img/hero/img_yaht_tablet_desktop@2x.png 2x" media="(min-width:1280px)" type="image/png"/>
              <source srcset="/img/hero/img_yaht_tablet_desktop@1x.webp 1x, /img/hero/img_yaht_tablet_desktop@2x.webp 2x" media="(min-width:1280px)" type="image/webp"/>

              <img src="/img/hero/img_yaht_mob@1x.png" alt="yacht" class="hero-img-yacht">
            </picture>
        <div class="hero-text-box">
          <p class="hero-text-box-one">$12M</p>
          <p class="hero-text-box-two">Book now and make your dream yacht rental a reality</p>
        </div>
        <div class="hero-blur"></div>
    </div>
    </div>
</section>
