<section class="rent">
  <div class="rent-container"><h2>rent</h2></div>
  <section class="section-rent-yacht">
    <div class="container">
      <div class="cont-rent-yacht">
        <div class="rent-yacht">
          <h2 class="rent-yacht-title">Rent a yacht now</h2>
          <img src="/img/rent/img yaht@1.jpg" alt="Yacht" />
        </div>
        <div class="rent-form">
          <form>
            <div class="form-box">
              <label class="form-label" for="user-name">Full Name</label>

              <input
                class="form-input"
                type="text"
                id="user-name"
                name="user-name"
                placeholder="Full Name"
              />
            </div>
            <div class="form-box">
              <label class="form-label" for="email">Email</label>

              <input
                class="form-input"
                type="email"
                id="email"
                name="email"
                placeholder="Email"
              />
            </div>
            <div class="form-box">
              <label class="form-label" for="phone">Phone number</label>

              <input
                class="form-input"
                type="tel"
                id="phone"
                name="phone"
                placeholder="Phone number"
              />
            </div>
            <div class="form-text">
              <label class="form-label" for="user-comment">Comment</label>
              <textarea
                class="form-textarea"
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
                cols="50"
                rows="5"
              ></textarea>
            </div>

            <button class="form-button" type="button" data-modal-open>
              Send
              <svg class="input-icon" width="18" height="9">
                <use
                  href="../img/rent/svg/icons.svg#icon-Arrow-2-Stroke1"
                ></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</section>
<div class="modal is-hidden" data-modal>
  <div class="modal-window">
    <button class="modal-button" type="button" data-modal-close>
      <svg class="modal-icon" width="24" height="24">
        <use href="../img/rent/svg/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="popup-img">
      <img src="../img/rent/modal_img/img yaht.jpg" alt="yaht" />
    </div>
    <div class="popup-comments">
      <h2>Thank you</h2>
      <p>
        Thank you for choosing Yacht Adventures, your booking details have been
        received and our team will be in touch shortly to confirm your
        reservation and provide any additional information or assistance you may
        need.
      </p>
    </div>
  </div>
</div>
<script src="/modal.js"></script>
