<section class="section-rent-yacht" id="#rent">
  <div class="container">
    <div class="cont-rent-yacht">
      <div class="rent-yacht">
        <h2 class="rent-yacht-title">
          Rent a <span class="rent-yacht-title-span"> yacht now </span>
        </h2>
        <img
          src="/img/rent/yacht/img_yaht@1.jpg"
          srcset="
            /img/rent/yacht/img_yaht@1.jpg 1x
              /img/rent/yacht/img_yaht@2x.jpg 2x,
              /img/rent/yacht/img_yaht@3x.jpg 3x
            "
          alt="Yacht"
        />
      </div>
      <div class="rent-form">
        <form>
          <div class="form-box">
            <label class="form-label" for="user-name">Full Name</label>

            <input
              class="form-input"
              name="user-name"
              required
              type="text"
              id="user-name"
              name="user-name"
              pattern="^.* .*$"
              required
              placeholder=""
            />
          </div>
          <div class="form-box">
            <label class="form-label" for="email">Email</label>

            <input
              class="form-input"
              type="email"
              id="email"
              name="email"
              pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
              required
              placeholder=""
            />
          </div>
          <div class="form-box">
            <label class="form-label" for="phone">Phone number</label>

            <input
              class="form-input"
              type="tel"
              id="phone"
              name="phone"
              pattern="[0-9]{10}"
              required
              placeholder=""
            />
          </div>
          <div class="form-text">
            <label class="form-label" for="user-comment">Comment</label>
            <textarea
              pattern="[a-z]{1,30}(,[a-z]{1,30})*"
              class="form-textarea"
              name="user-comment"
              id="user-comment"
              placeholder=""
              cols="50"
              rows="5"
            ></textarea>
          </div>

          <button class="form-button" type="submit" data-modal-open>
            Send
            <svg class="input-icon" width="18" height="9">
              <use href="/img/rent/svg/icons.svg#icon-Arrow-2-Stroke1"></use>
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
<div class="modal is-hidden" data-modal>
  <div class="modal-window">
    <button class="modal-button" type="button" data-modal-close>
      <svg class="modal-icon" width="24" height="24">
        <use href="/img/rent/svg/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="popup-img">
      <img
        srcset="
          /img/rent/modal_img/img_yaht.jpg    1x sizes=(max-width: 287px),
          /img/rent/modal_img/img_yaht@2x.jpg 2x
        "
        src="/img/rent/modal_img/img_yaht.jpg"
        alt="yaht"
      />
    </div>
    <div class="popup-comments">
      <h2>Thank you</h2>
      <p>
        Thank you for choosing Yacht Adventures, your booking details have been
        received and our team will be in touch shortly to confirm your
        reservation and provide any additional information or assistance you may
        need.
      </p>
    </div>
  </div>
</div>
<script src="/modal.js"></script>
