<head>
    <link rel="stylesheet" href="../css/reviews.css" />
    <!-- <link rel="stylesheet" href="../css/styles.css" /> -->
</head>
<section id="reviews" class="reviews">
    <div class="reviews-container">
        <div class="text-box">
            <h3 class="yacht-h"><span class="yacht-heading">Yacht Adventures </span>take pride in<br> providing the best
                possible
                service<br> and experience to our customers</h3>
            <p class="text">Our customers have enjoyed unforgettable moments on our yachts. Don't just take our word for
                it -
                read on to find out
                what they have to say about their journey with us.</p>
        </div>
        <div class="reviews-card">
            <div class="card">
                <img class="avatar" src="../img/reviews/john-wox.jpg">
                <p class="card-name">John Wox</p>
                <p class="review">I rented the Lagoon 620 with my family for a week-long vacation and it was the best
                    decision
                    ever. The yacht was
                    spacious, comfortable, and luxurious, and the crew took care of everything.</p>
            </div>
                        <div class="card">
                            <img class="avatar" src="../img/reviews/victoria-romashenko.jpg">
                            <p class="card-name">Victoria Romashenko</p>
                            <p class="review">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht was beautifully designed, with all
                            the amenities we needed, and the crew was attentive and friendly.</p>
                        </div>
                                    <div class="card">
                                        <img class="avatar" src="../img/reviews/ihor-trachuk.jpg">
                                        <p class="card-name">Ihor Trachuk</p>
                                        <p class="review">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious and elegant, and the outdoor
                                        areas were perfect for relaxing and entertaining. Worth every penny!</p>
                                    </div>
        </div>
                    <div class="navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
    </div>
</section>