<section class="yahts">
  <div class="yahts-container">
    <div class="yahts-title-container">
      <h2 class="yahts-title-box">Lorem ipsum dolor sit amet.</h2>
      <button class="title-btn-box"></button>
    </div>
    <div class="yahts-cards-container">
      <ul class="yahts-ul-cards">
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
        <li class="yahts-li-cards"></li>
      </ul>
    </div>
    <div class="yahts-cards-btn-box">
      <button class=""></button>
    </div>
  </div>
</section>
