<section class="yahts yahts-title-background-circle-second" id="yachts">
  <div class="yahts-container">
    <div class="yahts-title-container yahts-title-background-circle-first">
      <h2 class="yahts-title-box">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <button class="title-btn-box"><a href="#rent">Yacht rental</a></button>
    </div>
    <div class="yahts-cards-container">
      <ul class="yahts-ul-cards">
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-1@1.jpg x1, /img/yahts/yaht-1@2.jpg x2"
            src="/img/yahts/yaht-1@1.jpg"
            alt="Arrow yaht"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">Arrow</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">48m(155ft)</p>
                <p class="cards-data-p">Admiral</p>
                <p class="cards-data-p">2021</p>
                <p class="cards-data-p">11 in 5 cabins</p>
                <p class="cards-data-p">€33,500,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-2@1.jpg x1, /img/yahts/yaht-2@2.jpg x2"
            src="/img/yahts/yaht-2@1.jpg"
            alt="BENETTI OASIS 40M BO122"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">BENETTI OASIS 40M...</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">41m (133ft)</p>
                <p class="cards-data-p">Benetti</p>
                <p class="cards-data-p">2025</p>
                <p class="cards-data-p">10 in 5 cabins</p>
                <p class="cards-data-p">€23,210,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-3@1.jpg x1, /img/yahts/yaht-3@2.jpg x2"
            src="/img/yahts/yaht-3@1.jpg"
            alt="BELLE ANNA"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">BBELLE ANNA</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">50m(155ft)</p>
                <p class="cards-data-p">ISA</p>
                <p class="cards-data-p">2012</p>
                <p class="cards-data-p">12 in 6 cabins</p>
                <p class="cards-data-p">€21,000,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-4@1.jpg x1, /img/yahts/yaht-4@2.jpg x2"
            src="/img/yahts/yaht-4@1.jpg"
            alt="Ellen"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">Ellen</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">40m (132ft)</p>
                <p class="cards-data-p">Perini Navi</p>
                <p class="cards-data-p">2001 / 2016 (refitted)</p>
                <p class="cards-data-p">9 in 4 cabins</p>
                <p class="cards-data-p">€9,300,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-5@1.jpg x1, /img/yahts/yaht-5@2.jpg x2"
            src="/img/yahts/yaht-5@1.jpg"
            alt="MIRAGE 401"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">MIRAGE 401</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">38m (125ft)</p>
                <p class="cards-data-p">Gianetti Custom Yachts</p>
                <p class="cards-data-p">2024</p>
                <p class="cards-data-p">10 in 5 cabins</p>
                <p class="cards-data-p">€13,500,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-6@1.jpg x1, /img/yahts/yaht-6@2.jpg x2"
            src="/img/yahts/yaht-6@1.jpg"
            alt="KING"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">KING</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">33m (109ft)</p>
                <p class="cards-data-p">Overmarine</p>
                <p class="cards-data-p">2004 / 2018 (refitted)</p>
                <p class="cards-data-p">9 in 4 cabins</p>
                <p class="cards-data-p">€1,850,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-7@1.jpg x1, /img/yahts/yaht-7@2.jpg x2"
            src="/img/yahts/yaht-7@1.jpg"
            alt="SALT"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">SALT</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">32m (105ft)</p>
                <p class="cards-data-p">SanLorenzo</p>
                <p class="cards-data-p">2019</p>
                <p class="cards-data-p">11 in 5 cabins</p>
                <p class="cards-data-p">€7,800,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-8@1.jpg x1, /img/yahts/yaht-8@2.jpg x2"
            src="/img/yahts/yaht-8@1.jpg"
            alt="STORM"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">STORM</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">32m (103ft)</p>
                <p class="cards-data-p">Overmarine</p>
                <p class="cards-data-p">2005 / 2022 (refitted)</p>
                <p class="cards-data-p">9 in 4 cabins</p>
                <p class="cards-data-p">€2,900,000</p>
              </div>
            </div>
          </div>
        </li>
        <li class="yahts-li-cards">
          <img
            srcset="/img/yahts/yaht-9@1.jpg x1, /img/yahts/yaht-9@2.jpg x2"
            src="/img/yahts/yaht-9@1.jpg"
            alt="COLLU"
            class="yahts-cards-img"
          />
          <div class="cards-text-box">
            <h3 class="cards-main-title">COLLU</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div class="block-info">
            <div class="cards-info-box">
              <div class="cards-info-title">
                <p class="cards-info-p">LENGTH</p>
                <p class="cards-info-p">BUILDER</p>
                <p class="cards-info-p">BUILT</p>
                <p class="cards-info-p">GUESTS</p>
                <p class="cards-info-p">PRICE</p>
              </div>
              <div class="cards-info-data">
                <p class="cards-data-p">29m (96ft)</p>
                <p class="cards-data-p">Ferretti</p>
                <p class="cards-data-p">2014</p>
                <p class="cards-data-p">10 in 5 cabins</p>
                <p class="cards-data-p">$4,300,000</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="btn-container">
    <div class="yahts-cards-btn-box">
      <button class="cards-slider-btn">
        <svg width="18" height="8">
          <use href="/img/yahts/yaht-icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="cards-slider-btn second-btn">
        <svg width="18" height="8">
          <use href="/img/yahts/yaht-icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>