<section class="yahts">
  <div class="yahts-container">
    <div class="yahts-title-container yahts-title-background-circle-first">
      <h2 class="yahts-title-box">
        Choose your dream yacht and sail away into the sunset
      </h2>
      <button class="title-btn-box">Yacht rental</button>
    </div>
    <div class="yahts-cards-container">
      <ul class="yahts-ul-cards">
        <li class="yahts-li-cards">
          <img
            src="../img/yaht-img/yaht-1.jpg"
            alt="Arrow yaht"
            class="yaht-cards-img"
          />
          <div class="card-text-box">
            <h3 class="card-main-title">Arrow</h3>
            <h4 class="cards-second-title">LUXURY YAHTS</h4>
          </div>
          <div>
            <table class="cards-table">
              <tr class="cards-table-row">
                <td class="cards-table-row">LENGTH</td>
                <td>48m(155ft)</td>
              </tr>
              <tr>
                <td>BUILDER</td>
                <td>Admiral</td>
              </tr>
              <tr>
                <td>BUILT</td>
                <td>2021</td>
              </tr>
              <tr>
                <td>GUESTS</td>
                <td>11 in 5 cabins</td>
              </tr>
              <tr>
                <td>PRICE</td>
                <td>€33,500,000</td>
              </tr>
            </table>
          </div>
        </li>
      </ul>
    </div>
    <div class="yahts-cards-btn-box">
      <button class="cards-slider-btn">
        <svg width="18" height="8">
          <use href="../img/yaht-img/yaht-icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="cards-slider-btn">
        <svg width="18" height="8">
          <use href="../img/yaht-img/yaht-icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
