.about-main-container {
  padding: 0 20px;
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .about-main-container {
    padding: 0 32px;
    margin-top: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .about-main-container {
    padding: 0 32px;
    margin-top: 164px;
  }
}

.about-text-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 375px) {
  .about-accent-text-container {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .about-accent-text-container {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.accent-text {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: -0.0675rem;
  max-width: 335px;
}

@media screen and (min-width: 768px) {
  .accent-text {
    font-size: 32px;
    letter-spacing: -0.09rem;
    max-width: 514px;
  }
}

@media screen and (min-width: 1280px) {
  .accent-text {
    font-size: 32px;
    letter-spacing: -0.09rem;
    max-width: 514px;
    margin-right: 302px;
  }
}

.gradient-text {
  font-family: DM Sans;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -0.0675rem;
  background: var(
    --linear-green,
    linear-gradient(107deg, #bec7c2 0%, #a1b5ba 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .gradient-text {
    font-size: 32px;
    letter-spacing: -0.09rem;
  }
}

@media screen and (min-width: 1280px) {
  .gradient-text {
    font-size: 32px;
    letter-spacing: -0.09rem;
  }
}

.about-text-list {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .about-text-list {
    gap: 32px;
    justify-content: flex-end;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about-text-list {
    gap: 32px;
  }
}

.subaccent-text {
  color: #f6f5ef;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  letter-spacing: -0.0175rem;
  max-width: 160px;
}

@media screen and (min-width: 768px) {
  .subaccent-text {
    font-size: 16px;
    letter-spacing: -0.02rem;
    max-width: 183px;
  }
}

@media screen and (min-width: 1280px) {
  .subaccent-text {
    font-size: 16px;
    letter-spacing: -0.02rem;
    max-width: 183px;
  }
}

.about-img-list {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 24px;
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .about-img-list {
    gap: 32px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 375px) {
  .about-img-item-1,
  .about-img-item-2 {
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .about-img-item-1,
  .about-img-item-2 {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .about-img-item-1,
  .about-img-item-2 {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-item-1,
  .about-img-item-2 {
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-gradient {
    position: absolute !important;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-list {
    gap: 32px;
    margin-top: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-item-1 {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: 533px;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-item-2 {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(-75%);
  }
}

.about-img-gradient {
  position: absolute;
  top: 102.4%;
  left: 75px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .about-img-gradient {
    top: 863px;
    left: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .about-img-gradient {
    position: absolute;
    top: 63.2%;
    z-index: -1;
  }
}
