.footer-section {
  /*width: 335px;
  height: 334px;
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  overflow: hidden;*/
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 14px;
  margin: 0 auto;
}

.footer-container {
  min-width: 320px;
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
.footer-container::after {
  content: '';
  position: absolute;
  width: 335%;
  top: 2px;
  display: block;
  height: 1px;
  background-color: var(--white);
}

.footer-content {
  flex-direction: column;
}

.footer-icon-link {
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-icon {
  width: 18px;
  height: 18px;
  fill: var(--linear-1);
}

.footer-logo {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%;
  /* 21.24px */
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.nav-footer {
  flex-direction: column;
}
.nav-menu-footer,
.nav-list-footer {
  flex-direction: column;
}
.nav-footer {
  justify-content: center;
  align-items: flex-start;
  gap: 14px;
}

.nav-list-footer {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%;
  /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
  display: flex;
  gap: 14px;
}
.nav-group-footer link {
  stroke-width: 1px;
  stroke: rgba(246, 245, 239, 0.5);
}
.footer-social {
  flex-direction: column;
  /*fill: #F6F5EF;
margin-right: auto;*/
}
.social-footer-text {
  color: var(--white, #f6f5ef);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  /* 15.4px */
  text-transform: uppercase;
  margin-bottom: 16px;
}
.footer-icons-list {
  display: inline-flex;
  gap: 16px;
}
.social-icons-group {
}
.social-footer-link {
  display: inline-flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #f6f5ef;
}

.social-footer-link:hover,
.social-footer-link:focus {
  fill: var(--light-green, #93abae);
  stroke: var(--light-green, #93abae);
}

/*.social-footer-link svg path {
    fill: var(--white, #F6F5EF);
    stroke: var(--white, #F6F5EF);
 }
.social-footer-link:hover svg path {
fill: var(--light-green, #93ABAE);
stroke: var(--light-green, #93ABAE);
}

.social-footer-link:focus svg path
{fill: var(--light-green, #93ABAE);
    stroke: var(--light-green, #93ABAE);
    /*border-color: linear-gradient (45deg, #BEC7C2, #A1B5BA);
    color: linear-gradient (45deg, #BEC7C2,#A1B5BA);
} */

.social-footericon {
  fill: #f6f5ef;
  background-color: var(--dark-blue);
  stroke-width: 1px;
  stroke: rgba(246, 245, 239, 0.5);
  border-radius: 6px;
  border: 1px solid rgba(246, 245, 239, 0.5);
  justify-content: center;
  align-items: center;
}
.footer-bottom {
  display: inline-flex;
  justify-content: center;
  gap: 32px;
  width: 100%;
  bottom: 0;
  /*display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 32px;
    position: absolute;
    width: 100%;
    bottom: 0;
    align-items: flex-end;
    position: absolute;*/
}

.footer-bottom-text {
  color: rgba(246, 245, 239, 0.5);
  text-align: center;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%;
  /* 16.52px */
  letter-spacing: 0.42px;
  z-index: 1;
}

.footer-background {
  position: absolute;
  backdrop-filter: blur(200px);
  z-index: 0;
}

.footer-ellipse1 {
  position: absolute;
  top: 228px;
  left: 220px;
  width: 415px;
  height: 415px;
  flex-shrink: 0;
  border-radius: 50%;
  opacity: 0.6000000238418579;
  background: var(--light-green, #93abae);
  filter: blur(100px);
  transform: rotate(-45.044deg);
}

.footer-ellipse2 {
  position: absolute;
  top: 634px;
  left: 216px;
  width: 317px;
  height: 317px;
  flex-shrink: 0;
  border-radius: 50%;
  opacity: 0.30000001192092896;
  background: #a6a9b2;
  filter: blur(100px);
  transform: rotate(-45.044deg);
}

/*--Mobile users--*/

@media screen and (max-width: 375px) {
  .footer-section {
    flex-direction: column;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .footer-logo {
    font-size: 14px;
    line-height: 114%;
  }

  .nav-footer {
    flex-direction: column;
  }
  .nav-list-footer {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
  }
  .footer-social {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .footer-bottom {
    align-items: flex-start;
    gap: 14px;
  }
  .footer-icon-link,
  .footer-icon {
    width: 18px;
    height: 18px;
  }

  .footer-bottom {
    display: inline-flex;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    gap: 14px;
  }
}

/*tablet users*/
@media screen and (min-width: 768px) {
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 768px;
    max-width: 1200px;
    width: 704px;
    height: 280px;
    /* max-width: 768px; */
    padding-top: 32px;
    padding-bottom: 16px;
    margin: 0 auto;
    overflow: hidden;
  }

  .footer-container {
    max-width: 768px;
    flex-direction: row;
  }
  .nav-menu-footer,
  .nav-footer,
  .nav-list-footer {
    flex-direction: column;
  }
  .nav-list-footer {
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .footer-icon {
    width: 23px;
    height: 23px;
  }
}

/*desktop users*/
@media screen and (min-width: 1280px) {
  .footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1216px;
    min-width: 1200px;
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 16px;
    position: relative;
    overflow: hidden;
  }

  .footer-container {
    flex-direction: row;
    max-width: 1280px;
  }
  .nav-menu-footer,
  .nav-footer,
  .nav-list-footer {
    flex-direction: row;
  }
  .nav-list-footer {
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .footer-icon {
    width: 23px;
    height: 23px;
  }
}
