.footer-section {
    /*background-color: var(--white);
    background-image: radial-gradient(ellipse at left bottom, #F6F5EF, #1F212D, #11131F);*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1216px;
    height: 284px;
    /*padding: 64px 0;*/
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 16px;
    position: relative;
    }

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
    /*flex-direction: row;
    gap: 315px;
    flex-shrink: 0;
    padding-top: 64px;
    max-width: 1216px;*/
}
.footer-container::after {
    content: '';
    position: absolute;
    width: 100%;
    top: 2px;
    display: block;
    height: 1px;
    background-color: var(--white);
}

/*.footer-content {
    margin-right: 120px;}*/

.footer-icon-link {

}

.footer-icon {
/*flex-shrink: 0;
fill: var(--linear-green, linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%));*/
}

.footer-logo  {
    color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    /* 21.24px */
    letter-spacing: 0.54px;
    text-transform: uppercase;
}
.nav-menu-footer {

}
.nav-list-footer {
color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    /* 16.52px */
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: flex;
        gap: 24px;
}
.nav-group-footer link {
stroke-width: 1px;
    stroke: rgba(246, 245, 239, 0.50);
}
/*.footer-social {
    fill: #F6F5EF;
margin-right: auto;
}*/
.social-footer-text {
    color: var(--white, #F6F5EF);
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 15.4px */
    text-transform: uppercase;
    margin-bottom: 16px;
}
.footer-icons-list {
    display: inline-flex;
    gap: 16px;
}
.social-icons-group {

}
.social-footer-link {
    display: inline-flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
    cursor: pointer;
    /*color: #F6F5EF;
    border-color: #F6F5EF;*/
}
 .social-footer-link svg path {
    fill: var(--white, #F6F5EF);
    stroke: var(--white, #F6F5EF);
 }
.social-footer-link:hover svg path {
fill: var(--light-green, #93ABAE);
stroke: var(--light-green, #93ABAE);
}

.social-footer-link:focus svg path
{fill: var(--light-green, #93ABAE);
    stroke: var(--light-green, #93ABAE);
    /*border-color: linear-gradient (45deg, #BEC7C2, #A1B5BA);
    color: linear-gradient (45deg, #BEC7C2,#A1B5BA);*/
}

.social-footericon {
    fill:none;
    stroke-width: 1px;
    stroke: rgba(246, 245, 239, 0.50);
    border-radius: 6px;
    border: 1px solid rgba(246, 245, 239, 0.50);
    justify-content: center;
    align-items: center;
}
.footer-bottom {
/*display: flex;
    justify-content: center;
    align-items: flex-end;
gap: 32px;
position: absolute;
width: 100%;
bottom: 0;*/
display: inline-flex;
justify-content: center;
    /*align-items: flex-end;
    position: absolute;*/
    gap: 32px;
    width: 100%;
    bottom: 0;   
}

.footer-bottom-text {
color: rgba(246, 245, 239, 0.50);
text-align: center;
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 118%;
    /* 16.52px */
letter-spacing: 0.42px;
z-index: 1;
}

.footer-background {
position: absolute;
backdrop-filter: blur(200px);
z-index:0;
}

.footer-ellipse1 {
    position: absolute;
    top: 228px;
    left: 220px;
    width: 415px;
    height: 415px;
    flex-shrink: 0;
    border-radius: 50%;
    opacity: 0.6000000238418579;
    background: var(--light-green, #93ABAE);
    filter: blur(100px);
    transform: rotate(-45.044deg);
}

.footer-ellipse2 {
    position: absolute;
    top: 634px;
    left: 216px;
    width: 317px;
    height: 317px;
    flex-shrink: 0;
    border-radius: 50%;
    opacity: 0.30000001192092896;
    background: #A6A9B2;
    filter: blur(100px);
    transform: rotate(-45.044deg);
}

/*--Mobile menu--*/

@media screen and (max-width: 375px) {
.footer-section {
    width: 335px;
    height: 334px;
    min-width: 320px;
    max-width: 375px;
    display: flex;
    flex-direction: column; 
    position: fixed;
    padding-top: 20px;
    padding-bottom: 14px;
    margin: 0 auto;
    overflow: hidden;
}
}

.footer-container {
    display: flex;
    /* flex-direction: column;  */
    gap: 40px;
}

.footer-content{
    display: inline-flex;
        align-items: center;
        gap: 8px;
}

.nav-footer{
    display: inline-flex;
    /* flex-direction: column;  */
        justify-content: center;
        align-items: flex-start;
        gap: 14px;
}
.nav-list-footer {
    display: inline-flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: flex-start;
        gap: 14px;
}
.footer-social{
    display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
}

.footer-bottom {
    align-items: flex-start;
        gap: 14px;
}
.footer-icon {

}

.footer-bottom{
    display: inline-flex;
        align-items: flex-start;
        padding-left: 40px;
        padding-right: 40px;
        gap: 14px;
}
/*tablet users*/
@media screen and (min-width: 768px) {
    .footer-section {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
         width: 704px;
            height: 280px;
            /* max-width: 768px; */
            padding-top: 32px;
            padding-bottom: 16px;
            margin: 0 auto;
            overflow: hidden;
    }
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.nav-footer, 
.nav-list-footer  {
    display: inline-flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        gap: 24px;
}

    

/*desktop users*/
@media screen and (min-width: 1280px) {
.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     width: 1216px;
     height: 284px;
    /*padding: 64px 0;*/
    margin: 0 auto;
    padding-top: 32px;
    padding-bottom: 16px;
    position: relative;
    overflow: hidden;
    }
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;}