.service {
    background-color: var(--dark-blue);
    /* background-color: var(--light-green); */
    padding-bottom: 80px;
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 768px) {
    .container {
        /* min-width: 768px; */
        max-width: 768px;
        margin: 0 auto;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;
        padding-left: 32px;
        padding-right: 32px;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.service-img {
    box-sizing: border-box;
    border-radius: 42px;
    background: linear-gradient(0deg, rgba(17, 19, 31, 0.20) 0%, rgba(17, 19, 31, 0.20) 100%), url(<path-to-image>), lightgray -15.345px 0px / 123.898% 100% no-repeat;
}

.service-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.service-container {
    position: relative;
    z-index: 2;
}
/* .service-item:nth-child(1):before  */
.service-container::before {
    content: "";
    width: 323px;
    height: 323px;
    top: 306px;
    right: 251px;
    transform: rotate(-45deg);
    flex-shrink: 0;
    border-radius: 323px;
    opacity: 0.6;
    background: #91AFBA;
    filter: blur(100px);
    position: absolute;
    z-index: 1;
}
@media only screen and (min-width:768px) {
    .service-container::before {
        content: "";
        width: 414px;
        height: 414px;
        top: 565px;
        right: 540px;
        transform: rotate(-45deg);
        flex-shrink: 0;
        border-radius: 414px;
        opacity: 0.6;
        background: #91AFBA;
        filter: blur(100px);
        position: absolute;
        z-index: -3;
    }
}

@media only screen and (min-width:1280px) {
    .service-container::before {
        content: "";
        width: 414px;
        height: 414px;
        top: 230px;
        right: 1078px;
        transform: rotate(-45deg);
        flex-shrink: 0;
        border-radius: 414px;
        opacity: 0.6;
        background: #91AFBA;
        filter: blur(100px);
        position: absolute;
        z-index: -5;
    }
}


/* ------TABLET-------- */
@media only screen and (max-width: 767px) {
    .service-list{
        align-items: center;
    }
}

@media only screen and (min-width:768px) {
    .service-list {
        gap: 32px;
    }

    .service-item:nth-child(2) {
        align-self: flex-end;
     }
    
    .service-item:last-child {
        padding-left: 32px;
        align-self: flex-start;
    }
}
/* ------DESKTOP----- */
@media only screen and (min-width: 1280px) {
    .service-list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 64px;
    }

   .service-item:nth-child(2) {
       align-self: flex-end;
   }
    .service-item:last-child {
        padding-left: 372px;
    }
}


.service-container-img {
    position: relative;
}
@media screen and (min-width:768px) {
    .img-diving {
        width: 704px;
        content: url(./img/service/diving-tabl@1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .img-diving {
        width: 704px;
        content: url(./img/service/diving-tabl@2x.png);
    }
}

@media screen and (min-width:768px) {
    .img-fishing {
        width: 400px;
        content: url(./img/service/fishing-tabl@1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .img-fishing {
        width: 400px;
        content: url(./img/service/fishing-tabl@2x.png);
    }
}

@media screen and (min-width:768px) {
    .img-sun {
        width: 380px;
        content: url(./img/service/sun-tabl@1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width:768px),
screen and (min-resolution: 192dpi) and (min-width:768px),
screen and (min-resolution: 2dppx) and (min-width:768px) {
    .img-sun {
        width: 380px;
        content: url(./img/service/sun-tabl@2x.png);
    }
}

@media screen and (min-width: 1280px) {
    .img-diving {
        width: 712px;
        content: url(./img/service/diving-desk@1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .img-diving {
        width: 712px;
        content: url(./img/service/diving-desk@2x.png);
    }
}

@media screen and (min-width: 1280px) {
    .img-fishing {
        width: 440px;
        content: url(./img/service/fishing-desk@1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .img-fishing {
        width: 440px;
        content: url(./img/service/fishing-desk@2x.png);
    }
}

@media screen and (min-width: 1280px) {
    .img-sun {
        width: 436px;
        content: url(./img/service/sun-desk@1x.png);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    .img-sun {
        width: 436px;
        content: url(./img/service/sun-desk@2x.png);
    }
}

.service-button {
    color: var(--dark-blue);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: -0.045em;
    padding: 14px 28px;

    position: absolute;
    left: 24px;
    bottom: 24px;
    border-radius: 60px;
    border-style: none;
    z-index: 1;
    background: var(--white);
}

@media only screen and (min-width: 768px) {
    .service-button {
        font-size: 18px;
        letter-spacing: -0.81px;
        left: 32px;
        bottom: 32px;
    }
}




