/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yahts.css');
@import url('./service.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  --dark-blue: #11131f;
  --blue_2: #1F212D;
  --light-green: #93ABAE;
  --linear-1: #BEC7C2;
  --linear-2: #A1B5BA;
  --white: #F6F5EF;
  
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--dark-blue);

}
@font-face {
  font-family: "DM Sans 400";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
}
@font-face {
  font-family: "DM Sans 500";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
}
@font-face {
  font-family: "DM Sans 500 Italic";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,500&display=swap');
}
@font-face {
  font-family: "DM Sans 700";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
}


.text-card {
font-family: DM Sans 400;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: -2%;
color: var(--white);
}

.button-text {
font-family: DM Sans 700;
font-weight: 700;
font-size: 14px;
line-height: 15.4px;
letter-spacing: -4.5%;
color: var(--white);
}

.hero-title-css {
  font-family: DM Sans 500 Italic;
  font-weight: 500;
  font-size: 60px;
  font-style: italic;
  line-height: 66px;
  letter-spacing: -4.5%;
  color: var(--white);
}
.heading {
  font-family: DM Sans 500;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -4.5%;
  color: var(--white);
} 

/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */