@import url('../../node_modules/modern-normalize/modern-normalize.css');


@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yahts.css');
@import url('./service.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');


p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--dark-blue);
  overflow-x: hidden;
}



:root {
  --dark-blue: #11131f;
  --blue_2: #1F212D;
  --light-green: #93ABAE;
  --linear-1: #BEC7C2;
  --linear-2: #A1B5BA;
  --white: #F6F5EF;
  
}


/* @font-face {
  font-family: "DM Sans 400";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
}
@font-face {
  font-family: "DM Sans 500";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
}
@font-face {
  font-family: "DM Sans 500 Italic";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@1,9..40,500&display=swap');
}
@font-face {
  font-family: "DM Sans 700";
  src: url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
} */

@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-MediumItalic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'DM Sans';
  src: url(../fonts/DMSans-Regular.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.text-card {
font-family: DM Sans;
font-weight: 400;
font-size: 14px;
line-height: 19.6px;
letter-spacing: -2%;
color: var(--white);
}

.button-text {
font-family: DM Sans;
font-weight: 700;
font-size: 14px;
line-height: 15.4px;
letter-spacing: -4.5%;
color: var(--white);
}

.hero-title-css {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 60px;
  font-style: italic;
  line-height: 66px;
  letter-spacing: -4.5%;
  color: var(--white);
}
.heading {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
  letter-spacing: -4.5%;
  color: var(--white);
} 

.container {
max-width: 375px;
margin: 0 auto;
padding-left: 20px;
padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    }
} 

@media screen and (min-width: 1280px) {
  .container {
    min-width: 1280px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    }
}  


/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */
.myBtn {
  display: hidden; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  width: 44px;
  height: 44px;
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--light-green); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
