.yahts {
  position: relative;
}
.yahts-container {
  position: relative;
  z-index: 2;
}
.yahts-title-container {
  display: flex;
  min-width: 640px;
  flex-direction: column;
  align-items: flex-start;
  gap: 64px;
  margin-bottom: 100px;
  margin-right: 64px;
  margin-left: 64px;
}
.yahts::before {
  content: '';
  position: absolute;
  left: 0;
  top: 30%;
  width: 399px;
  height: 399px;
  transform: rotate(-44.094deg);
  flex-shrink: 0;
  border-radius: 50%;
  opacity: 0.6;
  background: #91afba;
  filter: blur(100px);
  z-index: 3;
}
.yahts-title-box {
  font-family: 'Open Sans', sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 64px;
  color: var(--white);
  z-index: 5;
}
.title-btn-box {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  padding: 14px 28px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}
.yahts-cards-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 100px 32px;
}
.yahts-ul-cards {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.yahts-li-cards {
  width: 354px;
  height: 508px;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--blue_2);
}
.yahts-cards-img {
  border-radius: 24px;
  margin: 16px 16px 0 16px;
  width: 312px;
  height: 268px;
  flex-shrink: 0;
}
.cards-text-box {
  min-width: 280px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px;
}
.cards-main-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  color: var(--white);
}
.cards-second-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  opacity: 0.5;
  color: var(--white);
}
.cards-info-box {
  display: inline-flex;
  align-items: flex-start;
  gap: 32px;
  margin: 0 32px 32px 32px;
}
.cards-info-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}
.cards-info-p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
  color: var(--white);
}
.cards-info-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 6px;
}
.cards-data-p {
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  color: var(--white);
}
.yahts-cards-btn-box {
  margin-bottom: 100px;
  display: flex;
  gap: 16px;
}
.cards-slider-btn {
  display: flex;
  padding: 14px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 60px;
  background-color: transparent;
}
